* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: darkblue;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 40%;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;

}

h1 {
    color: var(--main-color);
    border-bottom: solid 2px var(--main-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 450px;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 auto;
    padding: 5px;
    background-color: var(--main-color);
    color: white;
    position: relative;
    top: 5px;
    left: 15px;
}

aside h2 {
    position: absolute;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 5px;
    border-top: 2px solid var(--main-color);
    text-align: center;
}

/* Class Selectors */

.box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 1rem;
    background-color: lightgray;
    color: darkblue;
}